/src/SistemaOficinas.DomainCore/obj
/.vs/SistemaOficinas/DesignTimeBuild/.dtbcache.v2
/.vs/SistemaOficinas/v16/.suo
/src/SistemaOficinas.Mvc/obj
/src/SistemaOficinas.Repository/obj
/src/SistemaOficinas.Aplicacao/obj
/src/SistemaOficinas.Domain/obj
/src/SistemaOficinas.Domain/bin
/src/SistemaOficinas.Data/obj
/src/SistemaOficinas.Data/bin
/src/SistemaOficinas.Mvc/bin
/src/SistemaOficinas.DomainCore/bin
/src/SistemaOficinas.Repository/bin
/src/SistemaOficinas.Aplicacao/bin
/src/SistemaOficinas.Testes/bin
/src/SistemaOficinas.Testes/obj
