@model SistemaOficinas.Aplicacao.ViewModels.MarcaCarroViewModel

@{ Layout = "";
                ViewData["Title"] = "Create";
}


<div class="modal-dialog">
    <div class="modal-content">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">MedicalSystem</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label col-md-2"></label>
                        <div class="col-md-11">
                            <input asp-for="Nome" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Adicionar" class="btn btn-success" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

