
<li>
    <a href="#"><i class="l-basic-settings"></i><span class="tex">Configurações</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="MarcaCarro" asp-action="Index"><i class="fa-car"></i><span class="txt">Fabricantes</span></a>
        </li>

        <li>
            <a asp-controller="FormaPagamento" asp-action="Index"><i class="lyphicon-credit-card"></i><span class="txt">Formas de pagamento</span></a>
        </li>
    </ul>
</li>
